.main__left{}
aside{}
.aside__category{}
.asideCategory__title{}
.sideCategoryTitle__icon{}
.asideCategoryTitle__heading{}
.asideCategoryTitle__heading h3{}
.asideCategory__list{}
.asideCategory__list ul{}
.asideCategory__list ul li{}
.asideCategory__list ul li a{}
.aside__bestSeller{}
.asideBestSeller__title{}
.asideBestSeller__icon{}
.asideBestSeller__heading{}
.asideBestSeller__heading h3{} 
.asideBestSeller__list{}
