header {
}
.center {
  align-items: center;
}
.dflex {
  display: flex;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(131, 219, 53);
  /* border-image: initial; */
  border-radius: 50px;
}
#search {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  font-size: 13px;
  color: rgb(126, 130, 133);
  /* border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial; */
  padding: 15px;
  width: 100%;
  border-style: none;
}
.header__top {
  background-image: url("/html-ledthaiduong/img/bg_header_top.jpg");
  
}
.headerTop__welcome {
  color: white;
  font-size: 15px;
  text-transform: capitalize;
  width: 80%;
}
.headerTop__icon {
  text-align: right;
  width: 20%;
}
.headerTop__icon ul {
  display: flex;
  align-items: center;
  justify-content: right;
}
.headerTop__icon ul li {
  list-style: none;
}
.headerTop__icon ul li a {
  color: greenyellow;
  font-size: 15px;
  padding: 10px;
}
.header__bottom {
    margin:15px 0;
}
.headerBottom__icon {
  width: 25%;
  text-align: center;
}
.headerBottom__icon img {
}
.headerBottom__search {
  width: 50%;
  text-align: center;
}
.headerBottom__search button {
  background-color: rgb(131, 219, 53);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  /* border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial; */
  padding: 0px 30px;
  border-style: none;
}
.headerBottom__contact {
  width: 25%;
  
  font-size: 20px;
}
.headerBottom__contact ul {
    margin:0;
}
.headerBottom__contact ul li {
    list-style: none;
}
.headerBottom__contact ul li span:first-child {

margin-right:10px;
}
.headerBottom__contact ul li span i{
    color:greenyellow;
}
