footer{}
.footer__top{}
.footerTop__aboutUs{}
.footerTop__aboutUs h3{}
.footerTop__aboutUs p{}
.footerTopaboutUs__info{}
.footerTopaboutUs__info li{}
.footerTopaboutUs__info li span{}
.footerTopaboutUs__socialNetwork{}
.footerTopaboutUs__socialNetwork li{}
.footerTopaboutUs__socialNetwork li a{}
.footerTop__sitemaps{}
.footerTop__sitemaps h3{}
.footerTop__sitemaps ul{}
.footerTop__sitemaps ul li{}
.footerTop__sitemaps ul li a{}
.footerTop__products{}
.footerTop__products h3{}
.footerTop__products ul{}
.footerTop__products ul li{}
.footerTop__products ul li a{}
.footerTop__fanpage{}
.footerTop__fanpage h3{}
.footerTop__fanpageImage{}
.footer__bottom{}
.footerBottom__left{}
.footerBottom__right{}