nav {
  background-color: black;
  position: sticky;
  top: 0;
  display:block;
}
.nav__menu {
  font-size: 13px;
  width: 85%;
}
.nav__menu ul {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  padding: 0;
  margin: 0;
}
.nav__menu ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  /* git */
}
.nav__menu ul li .subMenu {
  position: absolute;
  display: none;
  /* width: 100%; */
  width: 150px;

  height: 50px;
}
.nav__menu ul li .subMenu li {
  background-color: grey;
}
.nav__menu ul li .subMenu li a {
}
.nav__menu ul li:hover .subMenu {
  display: block;
}
.nav__menu ul li .subMenu li a:hover {
  background-color: #3b84b0;
  color: white;
  transition: 0.75s;
}
.nav__menu ul li a {
  text-decoration: none;
  font-size: 13px;
  color: white;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}
.nav__menu ul li a:hover {
  background-color: grey;
  transition: 0.75s;
}
.nav__menu ul li.active a {
  background-color: grey;
}
.nav__search {
  color: white;
  text-align: right;
  width: 15%;
}

.nav__menu ul li .subMenu li {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  /* git */
}
.nav__menu ul li .subMenu .subMenu2 {
  position: absolute;
  display: none;
  width: 150px;
  left: 150px;
  top: 0;
  /* margin-left:10px; */
}
.nav__menu ul li .subMenu li .subMenu2 li {
  background-color: grey;
}
.nav__menu ul li .subMenu li a {
}
.nav__menu ul li .subMenu li:hover .subMenu2 {
  display: block;
}
nav .container input#menu{
  display:none;
}
nav .container label{
  display:none;
}
