@import url('header.css');
@import url('main.css');
@import url('nav.css');
@import url('footer.css');
body{
    margin: 0px;
}
.container{
    width: 1170px;
    margin: auto;
}
.row{
    display: flex;
}
/* @font-face {
    font-family: 'ArialMT';
  src: url('/html-manhcuong/font/arialmt.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} */
@font-face {
    font-family: 'openSanextraBold';
    src: url('/html-manhcuong/font/OpenSans_Condensed-ExtraBold.ttf');
}