@import url('header.css');
@import url('main.css');
@import url('nav.css');
@import url('footer.css');
body{
    margin: 0px;
}
.container{
    width: 1170px;
    margin: auto;
}
.row{
    display: flex;
}